In [16]:
# memuat numpy sebagai np
import numpy as np
 
# memuat pandas sebagai pd
import pandas as pd

In [17]:
# memuat data bernama 'dataset_statistics.csv' dan memasukkan hasilnya ke dalam 'raw_data'
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')
#pd.set_option('display.max_columns', None)

In [18]:
print (raw_data)
# melihat 10 data pada baris pertama
print (raw_data.head(10))

# melihat 5 data pada baris terakhir
print (raw_data.tail())

    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4
15            16     Rini              2      800000      B  150000        4
16            17    Rizki              1     1200000      C  200000        5
17            18     Sari              2      700000      D  250000        2
18            19     Tyas              2      600000      A  100000        4
19            20    Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1
   ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0             1     Arif              1      600000      A  100000        4
1             2     Dian              2     1200000      D  250000        4
2             3    Dinda              2      950000      D  250000        3
3             4    Fajar              1      400000      A  100000        2
4             5      Ika              2     1200000      D  250000        4
5             6    Ilham              1      800000      B  150000        4
6             7    Indra              1      950000      B  150000        5
7             8  Kartika              2     1100000      E  300000        3
8             9  Lestari              2      800000      E  300000        2
9            10      Lia              2     1700000      E  300000        5

     Total  Tingkat Kepuasan
0   400000                 2
1  1000000                 2
2   750000                 3
3   200000                 3
4  1000000                 2
5   600000                 3
6   750000                 1
7   900000                 3
8   600000                 1
9  1500000                 1
    ID Pelanggan   Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
15            16   Rini              2      800000      B  150000        4
16            17  Rizki              1     1200000      C  200000        5
17            18   Sari              2      700000      D  250000        2
18            19   Tyas              2      600000      A  100000        4
19            20  Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1

In [19]:
# melihat dimensi dari raw_data
print (raw_data.shape)

# mengambil jumlah data
print (raw_data.shape[0])

(20, 9)
20

In [20]:
print(raw_data)
print(raw_data.columns)

    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4
15            16     Rini              2      800000      B  150000        4
16            17    Rizki              1     1200000      C  200000        5
17            18     Sari              2      700000      D  250000        2
18            19     Tyas              2      600000      A  100000        4
19            20    Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1
Index(['ID Pelanggan', 'Nama', 'Jenis Kelamin', 'Pendapatan', 'Produk',
       'Harga', 'Jumlah ', 'Total', 'Tingkat Kepuasan'],
      dtype='object')

In [21]:
print (raw_data.isna())
print (raw_data.isna().sum())

    ID Pelanggan   Nama  Jenis Kelamin  Pendapatan  Produk  Harga  Jumlah   \
0          False  False          False       False   False  False    False
1          False  False          False       False   False  False    False
2          False  False          False       False   False  False    False
3          False  False          False       False   False  False    False
4          False  False          False       False   False  False    False
5          False  False          False       False   False  False    False
6          False  False          False       False   False  False    False
7          False  False          False       False   False  False    False
8          False  False          False       False   False  False    False
9          False  False          False       False   False  False    False
10         False  False          False       False   False  False    False
11         False  False          False       False   False  False    False
12         False  False          False       False   False  False    False
13         False  False          False       False   False  False    False
14         False  False          False       False   False  False    False
15         False  False          False       False   False  False    False
16         False  False          False       False   False  False    False
17         False  False          False       False   False  False    False
18         False  False          False       False   False  False    False
19         False  False          False       False   False  False    False

    Total  Tingkat Kepuasan
0   False             False
1   False             False
2   False             False
3   False             False
4   False             False
5   False             False
6   False             False
7   False             False
8   False             False
9   False             False
10  False             False
11  False             False
12  False             False
13  False             False
14  False             False
15  False             False
16  False             False
17  False             False
18  False             False
19  False             False
ID Pelanggan        0
Nama                0
Jenis Kelamin       0
Pendapatan          0
Produk              0
Harga               0
Jumlah              0
Total               0
Tingkat Kepuasan    0
dtype: int64

In [23]:
print (raw_data.describe())

# Mencari nilai maksimum dari tiap kolom
raw_data.max()
 
# Mencari nilai maksimum dari kolom 'Harga'
raw_data['Harga'].max()
 
# Mencari nilai minimum dari kolom 'Harga'
raw_data['Harga'].min()

       ID Pelanggan  Jenis Kelamin    Pendapatan          Harga    Jumlah   \
count      20.00000      20.000000  2.000000e+01      20.000000  20.000000
mean       10.50000       1.700000  1.160000e+06  197500.000000   3.650000
std         5.91608       0.470162  1.282842e+06   69726.910912   1.182103
min         1.00000       1.000000  4.000000e+05  100000.000000   1.000000
25%         5.75000       1.000000  6.750000e+05  150000.000000   3.000000
50%        10.50000       2.000000  8.750000e+05  200000.000000   4.000000
75%        15.25000       2.000000  1.125000e+06  250000.000000   4.250000
max        20.00000       2.000000  6.450000e+06  300000.000000   5.000000

              Total  Tingkat Kepuasan
count  2.000000e+01         20.000000
mean   7.100000e+05          2.050000
std    3.338768e+05          0.887041
min    2.000000e+05          1.000000
25%    4.750000e+05          1.000000
50%    6.750000e+05          2.000000
75%    9.250000e+05          3.000000
max    1.500000e+06          3.000000

100000

In [27]:
# menghitung jumlah dari semua kolom
print (raw_data.sum())
 
# menghitung jumlah dari semua kolom bertipe data numerik saja
raw_data.sum(numeric_only=True)
 
# menghitung jumlah dari kolom 'Harga' dan 'Pendapatan'
raw_data[['Harga', 'Pendapatan']].sum()

ID Pelanggan                                                      210
Nama                ArifDianDindaFajarIkaIlhamIndraKartikaLestariL...
Jenis Kelamin                                                      34
Pendapatan                                                   23200000
Produk                                           ADDADBBEEEABCDCBCDAC
Harga                                                         3950000
Jumlah                                                             73
Total                                                        14200000
Tingkat Kepuasan                                                   41
dtype: object

Harga          3950000
Pendapatan    23200000
dtype: int64

In [29]:
# Memilih kolom 'Pendapatan' saja
print (raw_data['Pendapatan'])
 
# Memilih kolom 'Jenis Kelamin' dan 'Pendapatan'
print (raw_data[['Pendapatan', 'Jenis Kelamin']])

0      600000
1     1200000
2      950000
3      400000
4     1200000
5      800000
6      950000
7     1100000
8      800000
9     1700000
10     600000
11     950000
12     400000
13    6450000
14    1000000
15     800000
16    1200000
17     700000
18     600000
19     800000
Name: Pendapatan, dtype: int64
    Pendapatan  Jenis Kelamin
0       600000              1
1      1200000              2
2       950000              2
3       400000              1
4      1200000              2
5       800000              1
6       950000              1
7      1100000              2
8       800000              2
9      1700000              2
10      600000              2
11      950000              2
12      400000              2
13     6450000              2
14     1000000              2
15      800000              2
16     1200000              1
17      700000              2
18      600000              2
19      800000              1

In [30]:
# mengambil data dari baris ke-0 sampai baris ke-(10-1) atau baris ke-9
print(raw_data[:10])
 
# mengambil data dari baris ke-3 sampai baris ke-(5-1) atau baris ke-4
print(raw_data[3:5])
 
# mengambil data pada baris ke-1, ke-3 dan ke-10
print(raw_data.loc[[1,3,10]])

# Mengambil kolom 'Jenis Kelamin' dan 'Pendapatan' dan ambil baris ke-1 sampai ke-9
print(raw_data[['Jenis Kelamin', 'Pendapatan']][1:10])
 
# Mengambil kolom 'Harga' dan 'Tingkat Kepuasan' dan ambil baris ke-1, ke-10 dan ke-15
print(raw_data[['Harga', 'Tingkat Kepuasan']].loc[[1,10,15]])

   ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0             1     Arif              1      600000      A  100000        4
1             2     Dian              2     1200000      D  250000        4
2             3    Dinda              2      950000      D  250000        3
3             4    Fajar              1      400000      A  100000        2
4             5      Ika              2     1200000      D  250000        4
5             6    Ilham              1      800000      B  150000        4
6             7    Indra              1      950000      B  150000        5
7             8  Kartika              2     1100000      E  300000        3
8             9  Lestari              2      800000      E  300000        2
9            10      Lia              2     1700000      E  300000        5

     Total  Tingkat Kepuasan
0   400000                 2
1  1000000                 2
2   750000                 3
3   200000                 3
4  1000000                 2
5   600000                 3
6   750000                 1
7   900000                 3
8   600000                 1
9  1500000                 1
   ID Pelanggan   Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
3             4  Fajar              1      400000      A  100000        2
4             5    Ika              2     1200000      D  250000        4

     Total  Tingkat Kepuasan
3   200000                 3
4  1000000                 2
    ID Pelanggan   Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
1              2   Dian              2     1200000      D  250000        4
3              4  Fajar              1      400000      A  100000        2
10            11  Maria              2      600000      A  100000        4

      Total  Tingkat Kepuasan
1   1000000                 2
3    200000                 3
10   400000                 3
   Jenis Kelamin  Pendapatan
1              2     1200000
2              2      950000
3              1      400000
4              2     1200000
5              1      800000
6              1      950000
7              2     1100000
8              2      800000
9              2     1700000
     Harga  Tingkat Kepuasan
1   250000                 2
10  100000                 3
15  150000                 1

In [32]:
# mengambil hanya data untuk produk 'A'
produk_A = raw_data[raw_data['Produk'] == 'A']
 
# menghitung rerata pendapatan menggunakan method .mean pada objek pandas DataFrame
print (produk_A['Pendapatan'].mean())
 
# menghitung rerata pendapatan menggunakan method .mean pada objek pandas DataFrame dengan numpy
print (np.mean(produk_A['Pendapatan']))

550000.0
550000.0

In [35]:
print(raw_data)
# Hitung median dari pendapatan menggunakan pandas
print(produk_A['Pendapatan'].median())
 
# Hitung median dari pendapatan menggunakan numpy
print(np.median(produk_A['Pendapatan']))

    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4
15            16     Rini              2      800000      B  150000        4
16            17    Rizki              1     1200000      C  200000        5
17            18     Sari              2      700000      D  250000        2
18            19     Tyas              2      600000      A  100000        4
19            20    Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1
600000.0
600000.0

In [36]:
# Melihat jumlah dari masing-masing produk
print(raw_data['Produk'].value_counts())

D    5
B    4
A    4
C    4
E    3
Name: Produk, dtype: int64

In [37]:
# mencari median atau 50% dari data menggunakan pandas
raw_data['Pendapatan'].quantile(q = 0.5)
 
# mencari median atau 50% dari data menggunakan pandas
np.quantile(raw_data['Pendapatan'], q=0.5)

875000.0

In [38]:
# mencari median atau 50% dari data menggunakan pandas
print(raw_data['Pendapatan'].quantile(q = 0.5))
 
# mencari median atau 50% dari data menggunakan pandas
print(np.quantile(raw_data['Pendapatan'], q=0.5))

875000.0
875000.0

In [39]:
# menghitung rerata dan median 'Pendapatan' dan 'Harga'
print(raw_data[['Pendapatan', 'Harga']].agg([np.mean, np.median]))
 
# menghitung rerata dan median Pendapatan dan Harga dari tiap produk
print(raw_data[['Pendapatan', 'Harga', 'Produk']].groupby('Produk').agg([np.mean, np.median]))

        Pendapatan     Harga
mean     1160000.0  197500.0
median    875000.0  200000.0
       Pendapatan            Harga
             mean   median    mean  median
Produk
A          550000   600000  100000  100000
B          875000   875000  150000  150000
C          850000   900000  200000  200000
D         2100000  1200000  250000  250000
E         1200000  1100000  300000  300000

In [40]:
# cari proporsi tiap Produk
print(raw_data['Produk'].value_counts()/raw_data.shape[0])

D    0.25
B    0.20
A    0.20
C    0.20
E    0.15
Name: Produk, dtype: float64

In [41]:
# Cari nilai rentang dari kolom 'Pendapatan'
print (raw_data['Pendapatan'].max() - raw_data['Pendapatan'].min())

6050000

In [45]:
# menghitung variansi umur menggunakan method .var() dari pandas
print (raw_data['Pendapatan'].var())
 
# menghitung variansi umur menggunakan method .var() dari numpy
print (np.var(raw_data['Pendapatan']))

# mengatur variansi populasi dengan method `.var()` dari pandas
print (raw_data['Pendapatan'].var(ddof=0))

1645684210526.3157
1563400000000.0
1563400000000.0

In [44]:
# menghitung deviasi baku sampel pendapatan menggunakan method std() dari pandas
print (raw_data['Pendapatan'].std())
 
# menghitung deviasi baku sampel pendapatan menggunakan method std() dari numpy
print (np.std(raw_data['Pendapatan'], ddof = 1))

1282842.2391417876
1282842.2391417876

In [46]:
# menghitung korelasi dari setiap pasang variabel pada raw_data
print (raw_data.corr())

# mencari korelasi 'kendall' untuk tiap pasang variabel
print (raw_data.corr(method='kendall'))
 
# mencari korelasi 'spearman' untuk tiap pasang variabel
print (raw_data.corr(method='spearman'))

                  ID Pelanggan  Jenis Kelamin  Pendapatan     Harga   Jumlah   \
ID Pelanggan          1.000000       0.151375    0.110958 -0.028707  0.011289
Jenis Kelamin         0.151375       1.000000    0.192849  0.457555 -0.104168
Pendapatan            0.110958       0.192849    1.000000  0.322443  0.399825
Harga                -0.028707       0.457555    0.322443  1.000000 -0.138883
Jumlah                0.011289      -0.104168    0.399825 -0.138883  1.000000
Total                -0.039968       0.238051    0.592044  0.645455  0.636097
Tingkat Kepuasan     -0.245717      -0.088339   -0.312663 -0.380798  0.017568

                     Total  Tingkat Kepuasan
ID Pelanggan     -0.039968         -0.245717
Jenis Kelamin     0.238051         -0.088339
Pendapatan        0.592044         -0.312663
Harga             0.645455         -0.380798
Jumlah            0.636097          0.017568
Total             1.000000         -0.268345
Tingkat Kepuasan -0.268345          1.000000
                  ID Pelanggan  Jenis Kelamin  Pendapatan     Harga   Jumlah   \
ID Pelanggan          1.000000       0.126650   -0.054998 -0.005753  0.024016
Jenis Kelamin         0.126650       1.000000    0.190245  0.415339 -0.090299
Pendapatan           -0.054998       0.190245    1.000000  0.523053  0.501925
Harga                -0.005753       0.415339    0.523053  1.000000 -0.098450
Jumlah                0.024016      -0.090299    0.501925 -0.098450  1.000000
Total                -0.065998       0.190245    0.988506  0.535078  0.501925
Tingkat Kepuasan     -0.183817      -0.085796   -0.165588 -0.325659 -0.028923

                     Total  Tingkat Kepuasan
ID Pelanggan     -0.065998         -0.183817
Jenis Kelamin     0.190245         -0.085796
Pendapatan        0.988506         -0.165588
Harga             0.535078         -0.325659
Jumlah            0.501925         -0.028923
Total             1.000000         -0.165588
Tingkat Kepuasan -0.165588          1.000000
                  ID Pelanggan  Jenis Kelamin  Pendapatan     Harga   Jumlah   \
ID Pelanggan          1.000000       0.151375   -0.063711 -0.039149  0.046356
Jenis Kelamin         0.151375       1.000000    0.219508  0.463635 -0.098864
Pendapatan           -0.063711       0.219508    1.000000  0.640000  0.607110
Harga                -0.039149       0.463635    0.640000  1.000000 -0.130749
Jumlah                0.046356      -0.098864    0.607110 -0.130749  1.000000
Total                -0.069779       0.219508    0.998470  0.646194  0.607110
Tingkat Kepuasan     -0.238890      -0.090784   -0.192463 -0.378933 -0.023874

                     Total  Tingkat Kepuasan
ID Pelanggan     -0.069779         -0.238890
Jenis Kelamin     0.219508         -0.090784
Pendapatan        0.998470         -0.192463
Harga             0.646194         -0.378933
Jumlah            0.607110         -0.023874
Total             1.000000         -0.192463
Tingkat Kepuasan -0.192463          1.000000